# Analiza danych w języku Python - ćwiczenia laboratoryjne 2024/2025

Ten notatnik zalicza się do grupy zestawów zadań, na podstawie których odbywa się zaliczenie ćwiczeń i podlega zwrotowi do oceny w ustalonym na zajęciach terminie.

Uwagi i wytyczne ogólne dotyczące uzupełniania i oceny notatnika:
- Podczas wykonywania zadań należy korzystać wyłącznie z pakietów zaimportowanych na początku notatnika oraz z pakietów wchodzących w skład standardowej biblioteki Pythona, które można zaimportować samodzielnie we wskazanej komórce notatnika. Wyjątek stanowi ostatni z projektów, gdzie po konsultacji z prowadzącym zajęcia możliwa jest większa swoboda w doborze pakietów.
- Swoje rozwiązania należy wprowadzać wyłącznie w miejce następujących fragmentów kodu:<br/> `# YOUR CODE HERE`<br/> `raise NotImplementedError()`<br/> 
a odpowiedzi tekstowe w komórkach oznaczonych hasłem:<br/> 
`YOUR ANSWER HERE`<br/> 
Nie należy w żaden sposób modyfikować pozostałych fragmentów kodu oraz innych elementów notatnika, w szczególności dodawać lub usuwać komórek oraz zmieniać nazwy pliku.
- Jeżeli zestaw zadań wymaga skorzystania z fragmentów kodu opracowanego w ramach wcześniejszych zestawów zadań należy je umieścić we wskazanej komórce notatnika.
- Otrzymywane wyniki i odpowiedzi mają być rezultatem wykonania napisanego kodu, odpowiedzi uzupełniane manualnie nie podlegają ocenie.
- Zawarte w notatniku automatyczne testy mają charakter poglądowy. Dotyczą one wybranych aspektów zadań i mają na celu wyłapać podstawowe błędy. Przejście przez kod wszystkich testów nie oznacza, że zadanie jest wykonane w całości poprawnie i zostanie ocenione na maksymalną liczbę punktów.
- Zadania należy wykonać w taki sposób, aby podczas wykonywania kodu nie zostały wyświetlone żadne ostrzeżenia.
- Zadania, które powodują wyświetlenie komunikatu o błędzie przerywającym wykonywanie kodu nie podlegają ocenie.

Uwagi i wytyczne ogólne dotyczące wizualizacji wyników:
- Wszystkie wykresy powinny być wykonane w jednolitym, przejrzystym i czytelnym stylu, posiadać odpowiednio dobrane proporcje i zakresy wartości osi.
- Figury powinny mieć ustawione białe tło, tak, aby niezależnie od ustawień notatnika wszystkie elementy wykresów były dobrze widoczne (domyślnie tło jest przeźroczyste co może powodować problemy w notatnikach z ustawionym ciemnym tłem). Rozmiar poziomy figur nie powinien przekraczać 20 cali.
- Wykresy oraz ich osie powinny mieć nadane tytuły. Jeżeli w obrębie figury znajduje się więcej niż jeden wykres to figura również powinna mieć nadany tytuł.

Przed odesłaniem zestawu zadań do oceny proszę uzupełnić komórkę z danymi autorów rozwiązania (nazwa zespołu oraz imiona, nazwiska i numery indeksów członków zespołu) oraz upewnić się, że notatnik działa zgodnie z oczekiwaniami. W tym celu należy skorzystać z opcji **Restart Kernel and Run All Cells...** dostępnej na górnej belce notatnika pod symbolem $\blacktriangleright\blacktriangleright$.

Nazwa zespołu:
Członkowie:

---

## Zestaw zadań 2: Zmiany GDP w okresie globalnego kryzysu finansowego 2008–2009 (Notatnik 1/3)

In [1]:
import numpy as np
import pandas as pd
import scipy as sp
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [39]:
import re

### Zadanie 1: Przygotowanie danych [10 pkt]

Pliki raw_data_1.csv, raw_data_2.csv i raw_data_3.xlsx zawierają dane pobrane ze stron:</br>
https://databank.worldbank.org/,</br>
https://unstats.un.org/UNSDWebsite/,</br>
https://datahelpdesk.worldbank.org/knowledgebase/articles/906519-world-bank-country-and-lending-groups.

Zaimportuj zawarte w plikach dane do notatnika i utwórz na ich podstawie tablicę `recession_data_1` wykonaną według następujących wytycznych:

- Tablica powinna zawierać wyłącznie następujące elementy:</br>

    > Indeks: Country Code</br>
       
    > Kolumny: Country Name, Region Name, Income Group, 2006, 2007, 2008, 2009, 2010, 2011 (w tej kolejności, lata w nagłówkach jako zmienne typu str)</br>
    
- Wiersze powinny być indeksowane trzyliterowymi kodami krajów.
- Kolumna Income Group zawiera informację o stopniu zamożności państwa wg danych z 2008 roku.
- Kolumny 2006-2011 zawierają wartości wskaźnika GDP growth (annual %) dla poszczególnych lat.
- Zmień występujące w kolumnie Income Category kody (H, UM, LM, L) na pełne wyrażenia (High, Upper middle, Lower middle, Low).
- Tablica nie powinna zawierać wierszy, w których znajdują się wartości NaN (w dowolnej kolumnie) oraz wiersza dotyczącego Libii.

Zapisz tablicę do pliku recession_data_1.pkl.

Wyświetl przygotowaną tablicę w taki sposób aby widoczne było po 5 pierwszych i ostatnich wierszy, a zawarte w tablicy liczby (za wyjątkiem lat w nagłówkach kolumn) wyświetlały się z dokładnością do 2 miejsca po przecinku.

In [95]:
df1=pd.read_csv("raw_data_1.csv",index_col="Country Code",na_values="..")
df2=pd.read_csv("raw_data_2.csv",sep=";",index_col="ISO-alpha3 Code")
df3=pd.read_excel("raw_data_3.xlsx",sheet_name="Country Analytical History",skiprows=10,index_col=0,usecols="A,X",na_values="..")
recession_data_1=df2.join(df1)
recession_data_1.info()
recession_data_1=recession_data_1[['Country Name','Region Name','2006 [YR2006]','2007 [YR2007]','2008 [YR2008]','2009 [YR2009]','2010 [YR2010]','2011 [YR2011]']]
recession_data_1.columns = [re.sub(r'\s*\[.*?\]', '', col) for col in recession_data_1.columns]
recession_data_1=recession_data_1.join(df3)
#recession_data_1.drop("Libya")
recession_data_1=recession_data_1.rename(columns={"Unnamed: 23":"Income Group"})
recession_data_1=recession_data_1.dropna()
recession_data_1=recession_data_1.replace({"H":"High","UM":"Upper middle","LM":"Lower middle","L":"Low"})
recession_data_1 = recession_data_1[recession_data_1['Country Name'] != 'Libya']
recession_data_1.index.names=["Country Code"]
recession_data_1.to_pickle("recession_data_1.pkl")

<class 'pandas.core.frame.DataFrame'>
Index: 253 entries, DZA to WLF
Data columns (total 79 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Global Code                              253 non-null    int64
 1   Global Name                              253 non-null    object
 2   Region Code                              252 non-null    float64
 3   Region Name                              252 non-null    object
 4   Sub-region Code                          252 non-null    float64
 5   Sub-region Name                          252 non-null    object
 6   Intermediate Region Code                 112 non-null    float64
 7   Intermediate Region Name                 112 non-null    object
 8   Country or Area                          253 non-null    object
 9   M49 Code                                 253 non-null    int64
 10  ISO-alpha2 Code                          247 non-null    object
 11  Least Developed Countries (LDC)          46 non-null     object
 12  Land Locked Developing Countries (LLDC)  32 non-null     object
 13  Small Island Developing States (SIDS)    53 non-null     object
 14  Series Name                              217 non-null    object
 15  Series Code                              215 non-null    object
 16  Country Name                             215 non-null    object
 17  1960 [YR1960]                            0 non-null      object
 18  1961 [YR1961]                            92 non-null     object
 19  1962 [YR1962]                            96 non-null     object
 20  1963 [YR1963]                            96 non-null     object
 21  1964 [YR1964]                            96 non-null     object
 22  1965 [YR1965]                            96 non-null     object
 23  1966 [YR1966]                            102 non-null    object
 24  1967 [YR1967]                            105 non-null    object
 25  1968 [YR1968]                            106 non-null    float64
 26  1969 [YR1969]                            108 non-null    float64
 27  1970 [YR1970]                            105 non-null    float64
 28  1971 [YR1971]                            116 non-null    float64
 29  1972 [YR1972]                            116 non-null    float64
 30  1973 [YR1973]                            116 non-null    float64
 31  1974 [YR1974]                            116 non-null    float64
 32  1975 [YR1975]                            118 non-null    float64
 33  1976 [YR1976]                            120 non-null    float64
 34  1977 [YR1977]                            122 non-null    float64
 35  1978 [YR1978]                            128 non-null    float64
 36  1979 [YR1979]                            128 non-null    float64
 37  1980 [YR1980]                            129 non-null    float64
 38  1981 [YR1981]                            141 non-null    float64
 39  1982 [YR1982]                            145 non-null    float64
 40  1983 [YR1983]                            148 non-null    float64
 41  1984 [YR1984]                            148 non-null    float64
 42  1985 [YR1985]                            151 non-null    float64
 43  1986 [YR1986]                            152 non-null    float64
 44  1987 [YR1987]                            156 non-null    float64
 45  1988 [YR1988]                            159 non-null    float64
 46  1989 [YR1989]                            161 non-null    float64
 47  1990 [YR1990]                            162 non-null    float64
 48  1991 [YR1991]                            171 non-null    float64
 49  1992 [YR1992]                            172 non-null    float64
 50  1993 [YR1993]                            175 non-null    float64
 51  1994 [YR1994]                            176 non-null    float64
 52  1995 [YR1995]                            178 non-null    float64
 53  1996 [YR1996]                            188 non-null    float64
 54  1997 [YR1997]                            188 non-null    float64
 55  1998 [YR1998]                            191 non-null    float64
 56  1999 [YR1999]                            191 non-null    float64
 57  2000 [YR2000]                            192 non-null    float64
 58  2001 [YR2001]                            196 non-null    float64
 59  2002 [YR2002]                            197 non-null    float64
 60  2003 [YR2003]                            202 non-null    float64
 61  2004 [YR2004]                            202 non-null    float64
 62  2005 [YR2005]                            203 non-null    float64
 63  2006 [YR2006]                            203 non-null    float64
 64  2007 [YR2007]                            204 non-null    float64
 65  2008 [YR2008]                            204 non-null    float64
 66  2009 [YR2009]                            205 non-null    float64
 67  2010 [YR2010]                            205 non-null    float64
 68  2011 [YR2011]                            205 non-null    float64
 69  2012 [YR2012]                            205 non-null    float64
 70  2013 [YR2013]                            205 non-null    float64
 71  2014 [YR2014]                            207 non-null    float64
 72  2015 [YR2015]                            206 non-null    float64
 73  2016 [YR2016]                            205 non-null    float64
 74  2017 [YR2017]                            205 non-null    float64
 75  2018 [YR2018]                            205 non-null    float64
 76  2019 [YR2019]                            203 non-null    float64
 77  2020 [YR2020]                            200 non-null    float64
 78  2021 [YR2021]                            195 non-null    float64
dtypes: float64(57), int64(2), object(20)
memory usage: 158.1+ KB

In [94]:
### Komórka testowa
# Test 1 Kształt tablicy
assert recession_data_1.shape == (198, 9)
# Test 2 Kolumny
assert len(set(list(recession_data_1.columns)) & set(['Country Name', 'Region Name', 'Income Group', '2006', '2007', '2008', '2009', '2010', '2011'])) == 9
# Test 3 Indeks
assert (recession_data_1.index.name == 'Country Code') == True
assert recession_data_1.index.values.min() == 'ABW'
assert recession_data_1.index.values.max() == 'ZWE'
assert np.all(recession_data_1.index.values != 'LBY') == True
# Test 4 Zawartość kolumn tekstowych
assert np.all([set(recession_data_1["Region Name"].unique()) == set(['Asia', 'Europe', 'Africa', 'Oceania', 'Americas'])])
assert np.all([recession_data_1["Region Name"].value_counts().values == [50, 49, 43, 40, 16]])
assert np.all([set(recession_data_1["Income Group"].unique()) == set(['Low', 'Lower middle', 'Upper middle', 'High'])])
assert np.all([recession_data_1["Income Group"].value_counts().values == [60, 53, 44, 41]])
# Test 5 Zawartość kolumn liczbowych
assert np.all(np.isclose(recession_data_1[['2006', '2007', '2008', '2009', '2010', '2011']].min().values, np.array([ -6.87146322, -6.68402778, -17.66894633,
                                                                                                                    -17.57322176, -8.92417589, -12.7148969 ]))) == True
assert np.all(np.isclose(recession_data_1[['2006', '2007', '2008', '2009', '2010', '2011']].max().values, np.array([34.5 , 24.99999985, 17.79910913, 21.39052839,
                                                                                                                    25.12275964, 21.61652888]))) == True